:root {
  --white: #fff;
  --white-grey: #f5f5f5;
  --white-grey-second: #f7f7f7;
  --white-grey-third: #dadada;
  --black: #000;
  --light-black: #222222;
  --red: #97080a;
  --red-second: #a90003;
  --light-red: #f14043;
  --light-grey: #9c9c9c;
}
